{% extends 'base.html' %}
{% block head %}
<title>Add Organiser</title>
{% endblock %}
{% block body %}
<div class="register-content">
    <div class="form-box">
        <div class="image-box">
            <h1 class="img-txt">Fest 2024</h1>
            {% if flag %}
            <p class="img-subtxt mg-top-4 raise-error">Cannot make someone who is participating in an event an organiser</p>
            {% endif %}
            <p class="img-subtxt">Add Organiser</p>
            <a href="{{url_for('admin',url_encrypt=url_encrypt)}}">
                <p class="go-back-btn">Go back</p>
            </a>
        </div>
        <div class="register-form">
            <form action="{{url_for('add_organiser',event_id=event_id,url_encrypt=url_encrypt)}}" method="post">
                <div class="form-group">
                    <label for="roll">Roll No</label>
                    <input type="text" class="form-control" id="roll" name="roll" placeholder="Enter the roll no" required>
                </div>
                
                <button type="submit" class="submit-button">Add Organiser</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
