<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Index Page</title>
</head>

<body onload="loadState({{state}})">

    <div class="dashboard">
        <div class="tab-navigator">
            <h1 class="dash-title">Dashboard</h1>
            <ul class="dash-tabs">
                <li id="profile-tab">
                    <span class="material-symbols-outlined">Person</span>
                    <button class="tablinks" onclick="toggleDiv1()">Profile</button>
                </li>
                
    
                {% if organise == 1 %}
                <li id="organise-tab">
                    <span class="material-symbols-outlined">sort</span>
                    <button class="tablinks" onclick="toggleDiv2()">Organise</button>
                </li>
                {% else %}
                <div id="organise-tab"></div>
                {% endif %}
    
                <!-- <li id="edit-tab">
                    <span class="material-symbols-outlined">edit</span>
                    <button class="tablinks" onclick="toggleDiv3()">Edit Profile</button>
                </li> -->
    
                <li id="logout-tab">
                    <span class="material-symbols-outlined">logout</span>
                    <a class="tablinks" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <h1 class="tab-head">Fest 2024</h1>
            <div class="tab-body">
                <div id="pf-content" class="pf-content">
                    <div class="pf-col-1">
                        <div class="profile-card card">
                            <img class="profile-banner" src="{{ url_for('static', filename='images/abstract_bg.jpg') }}" alt="banner" class="banner-image">
                            <div class="profile-content">
                                <h2 class="profile-name">{{details[1]}}</h2>
                                <p class="profile-id">{{'21FEST' + '%04d'|format(details[0])}}</p>
                                <p class="profile-ra">{{details[2]}}</p>
                                <p class="profile-cd">{{details[3]}}</p>
                            </div>
                        </div>
                        
                        <div class="small-card card">
                            <div class="small-body">
                                <h5 class="small-title">DESIGNATION</h5>
                                <p class="small-content">
                                    {% if organise == 1 %}Organiser
                                    {% elif student == 1 %}Student
                                    {% else %}External
                                    {% endif %}
                                </p>
                            </div>
                            <span class="material-symbols-outlined">group</span>
                        </div>
    
                        <div class="small-card card volunteer-bg">
                            <div class="small-body">
                                <h5 class="color-title small-title" >Events won</h5>
                                <p class="small-content bold">{{ events_won|length }} <span class="spl-font">EVENT(S)</span></p>
                            </div>
                            <span class="material-symbols-outlined">celebration</span>
                        </div>
                        <div class="event-list-card">
                            {% for event in events_won %}
                            <div class="event-list-el">
                                <div class="event-list-el-col1">
                                    <h4 class="e-name">{{event[1]}}</h4>
                                    <p class="e-venue">{{event[4]}}</p>
                                </div>
                                <div class="event-list-el-col2">
                                    <p class="e-date">{{event[2]}}</p>
                                    <p class="e-time">{{event[3]}}</p>
                                </div>
                            </div>
                            <div class="event-list-hr"></div>
                            {% endfor %}
                        </div>
    
                    </div>
                    
                    <div class="pf-col-2">
                        <div class="small-card card participate-bg">
                            <div class="small-body">
                                <h5 class="color-title small-title" >Participating in</h5>
                                <p class="small-content bold">{{ participating_event|length }} <span class="spl-font">EVENT(S)</span></p>
                            </div>
                            <span class="material-symbols-outlined">sports_score</span>
                        </div>
                        <div class="event-list-card">
                            {% for event in participating_event %}
                            <div class="event-list-el">
                                <div class="event-list-el-col1">
                                    <h4 class="e-name">{{event[0][1]}}</h4>
                                    <p class="e-venue">{{event[0][4]}}</p>
                                    <p> Organisers:<br>
                                        {% for organiser in event[1] %}
                                        {{organiser[0]}}<br>
                                        {% endfor %}
                                    </p>
                                    <p class="e-winner">Winner: 
                                        {% if event[0][5] %}
                                        {{'21FEST' + '%04d'|format(event[0][5])}}
                                        {% else %}
                                        None
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="event-list-el-col2">
                                    <p class="e-date">{{event[0][2]}}</p>
                                    <p class="e-time">{{event[0][3]}}</p>
                                </div>
                            </div>
                            <div class="event-list-hr"></div>
                            {% endfor %}
                        </div>
                    </div>
    
                    {% if organise == 1 or student == 1 %}
                    <div class="pf-col-3">
                        <div class="small-card card volunteer-bg">
                            <div class="small-body">
                                <h5 class="color-title small-title" >Volunteering in</h5>
                                <p class="small-content bold">{{ volunteering_event|length }} <span class="spl-font">EVENT(S)</span></p>
                            </div>
                            <span class="material-symbols-outlined">volunteer_activism</span>
                        </div>
                        <div class="event-list-card">
                            {% for event in volunteering_event %}
                            <div class="event-list-el">
                                <div class="event-list-el-col1">
                                    <h4 class="e-name">{{event[0][1]}}</h4>
                                    <p class="e-venue">{{event[0][4]}}</p>
                                    <p> Organisers:<br>
                                        {% for organiser in event[1] %}
                                        {{organiser[0]}}<br>
                                        {% endfor %}
                                    </p>
                                    <p class="e-winner">Winner: 
                                        {% if event[0][5] %}
                                        {{'21FEST' + '%04d'|format(event[0][5])}}
                                        {% else %}
                                        None
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="event-list-el-col2">
                                    <p class="e-date">{{event[0][2]}}</p>
                                    <p class="e-time">{{event[0][3]}}</p>
                                </div>
                            </div>
                            <div class="event-list-hr"></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
    
                    <div class="pf-col-4">
                        <div class="small-card card all-events-bg">
                            <div class="small-body">
                                <h5 class="color-title small-title" >Upcoming Events</h5>
                                <p class="small-content bold">
                                    {% if organise == 1 or student == 1 %}{{ other_events|length }}
                                    {% else %}{{ non_participating_event|length }}
                                    {% endif %}
                                    <span class="spl-font">EVENT(S)</span>
                                </p>
                            </div>
                            <span class="material-symbols-outlined">calendar_month</span>
                            <div class="event-list-actions">
                                <p class="small-content bold spl-font">
                                    {% if organise == 1 or student == 1 %}VOLUNTEER{% endif %}
                                </p>
                                <p class="small-content bold spl-font">PARTICIPATE</p>
                            </div>
                        </div>
                        <div class="event-list-card">
                            {% if student == 1 or organise == 1 %}
                            {% for event in other_events %}
                            <div class="event-list-el tri-grid">
                                <div class="event-list-el-col1">
                                    <h4 class="e-name">{{event[1]}}</h4>
                                    <p class="e-venue">{{event[4]}}</p>
                                </div>
                                <div class="event-list-el-col2">
                                    <p class="e-date">{{event[2]}}</p>
                                    <p class="e-time">{{event[3]}}</p>
                                </div>
                                <div class="event-list-el-actions">
    
                                    {% if organise == 1 or student == 1 %}
                                    <a href="{{url_for('volunteer',fest_id=fest_id,event_id =event[0],organise=organise,student=student,url_encrypt=url_encrypt)}}">
                                        <span class="material-symbols-outlined color-la">
                                            add_circle
                                        </span>
                                    </a>
    
                                    {% endif %}
                                    <a href="{{url_for('participate',fest_id=fest_id,event_id =event[0],organise=organise,student=student, url_encrypt=url_encrypt )}}">
                                        <span class="material-symbols-outlined color-da">
                                            person_add
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="event-list-hr"></div>
                            {% endfor %}
                            
                            {% else %}
                            {% for event in non_participating_event %}
                            <div class="event-list-el tri-grid">
                                <div class="event-list-el-col1">
                                    <h4 class="e-name">{{event[1]}}</h4>
                                    <p class="e-venue">{{event[4]}}</p>
                                    <p class="e-winner">Winner: {% if event[7] %}{{'21FEST' + '%04d'|format(event[7])}}{% else %}None{% endif %}

                                    </p>
                                </div>
                                <div class="event-list-el-col2">
                                    <p class="e-date">{{event[2]}}</p>
                                    <p class="e-time">{{event[3]}}</p>
                                </div>
                                <div class="event-list-el-actions">
                                    {% if organise == 1 or student == 1 %}
                                    <a href="{{url_for('volunteer',fest_id=fest_id,event_id =event[0],organise=organise,student=student,url_encrypt = url_encrypt)}}">
                                        <span class="material-symbols-outlined color-la">
                                            add_circle
                                        </span>
                                    </a>
                                    {% endif %}
                                    <a href="{{url_for('participate',fest_id=fest_id,event_id =event[0],organise=organise,student=student,url_encrypt = url_encrypt )}}">
                                        <span class="material-symbols-outlined color-da">
                                            person_add
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="event-list-hr"></div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div id="organise-content">
                    <div class="organiser-det-card card">
                        <img class="organiser-det-banner" src="{{ url_for('static', filename='images/abstract_bg.jpg') }}" alt="banner" class="banner-image">
                        <div class="organiser-det-content">
                            <h2 class="organiser-det-name">Organise</h2>
                            <p class="organiser-det-id">Events you are organising</p>
                            <p class="organiser-det-no">{{ events_organised|length }} EVENT(S)</p>
                        </div>
                    </div>
                    
                    {% for event in events_organised %}
                    <div class="event-list-card bottom-margin-8">
                        <div class="event-list-el">
                            <div class="event-list-el-col1">
                                <h4 class="e-name big-text">{{event[1]}}<span class="hash-event-id"> #{{event[0]}}</span></h4>
                                <p class="e-venue">{{event[4]}}</p>
                                <p class="e-winner">Winner: {% if event[7] %}{{'21FEST' + '%04d'|format(event[7])}}{% else %}None{% endif %}

                                </p>
                            </div>
                            <div class="event-list-el-col2 bolder">
                                <p class="e-date">{{event[2]}}</p>
                                <p class="e-time">{{event[3]}}</p>
                            </div>
                            <div class="event-list-el-actions action-btn" id="read-desc-btn-{{event[0]}}" onclick="toggleReadDesc('{{ event[0] }}')">
                                <div class="expand-more" id="expand-more-{{event[0]}}" ><span class="material-symbols-outlined">expand_more</span></div>
                                <div class="expand-less" id="expand-less-{{event[0]}}"><span class="material-symbols-outlined">expand_less</span></div>
                            </div>
                        </div>
                        <div class="event-org-desc" id="event-desc-{{event[0]}}">
                            <p class="e-desc">{{event[6]}}</p>
                        </div>
                        
                    </div>
    
                    <div class="og-box-1 hide bottom-margin-8" id="event-handling-{{event[0]}}">
                        <div class="og-col-1">
                            <div class="small-card card participate-bg">
                                <div class="small-body">
                                    <h5 class="color-title small-title" >Participant List</h5>
                                    <p class="small-content bold">{{ event_org_details[event[0]]['participants']|length }} <span class="spl-font">PARTICIPANT(S)</span></p>
                                </div>
                                <span class="material-symbols-outlined">sports_score</span>
                            </div>
                            <div class="event-list-card">
                                {% for participant in event_org_details[event[0]]['participants'] %}
                                <div class="event-list-el">
                                    <div class="event-list-el-col1">
                                        <h4 class="e-name">{{participant[1]}}</h4>
                                        <p class="e-venue">{{'21FEST' + '%04d'|format(participant[0])}}</p>
                                    </div>
    
                                    <div class="event-list-el-actions select-winner-action">
                                        <a href="{{url_for('winner', fest_id=fest_id, event_id = event[0], participant_id=participant[0], organise=organise, student=student, winner_name = participant[0], url_encrypt=url_encrypt )}}">
                                            <span class="material-symbols-outlined color-la">
                                                add_circle
                                            </span>
                                            <p class="e-winner">SELECT WINNER</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="event-list-hr"></div>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="og-col-2">
                            <div class="small-card card volunteer-bg">
                                <div class="small-body">
                                    <h5 class="color-title small-title" >Volunteer List</h5>
                                    <p class="small-content bold">{{ event_org_details[event[0]]['volunteers']|length }} <span class="spl-font">VOLUNTEER(S)</span></p>
                                </div>
                                <span class="material-symbols-outlined">volunteer_activism</span>
                            </div>
                            <div class="event-list-card">
                                {% for volunteer in event_org_details[event[0]]['volunteers'] %}
                                <div class="event-list-el">
                                    <div class="event-list-el-col1">
                                        <h4 class="e-name">{{volunteer[1]}}</h4>
                                        <p class="e-venue">{{volunteer[0]}}</p>
                                    </div>
                                </div>
                                <div class="event-list-hr"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
                
                <!-- <div id="edit-content">
                    <h1>Edit Profile</h1>
                </div> -->
            
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>